<div class="text-center">
    <h1 class="display-3">Bienvenue dans le site officiel des combattants de l'UFC</h1>
    <iframe width="956" height="538" src="https://www.youtube.com/embed/R70Yww3WJWE?autoplay=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>

<div class="jumbotron jumbotron-fluid mt-3">
    <div class="container">
        <br>
        <div>
            <h2 class="display-5">Qui sommes nous ?</h2>
            <p class="lead">
                L'Ultimate Fighting Championship (UFC) est une organisation américaine d'arts martiaux mixtes (MMA), actuellement reconnue comme la plus importante ligue mondiale de ce sport de combat. La première soirée tenue par la promotion en novembre 1993 à Denver dans le Colorado, se présente comme un tournoi permettant de confronter différents styles d'arts martiaux et sports de combat dans des règles libres. Cet événement est alors souvent considéré comme un pilier de l'avènement des « MMA modernes ».
            </p>
        </div>
        <br>
        <div>
            <h2 class="display-5">Notre projet</h2>
            <p class="lead">
                Notre projet est de pouvoir recensé tous les combattants pour leur donnée un certain niveau sur la scène internationale, bien conscient que dans certains pays, il est difficile de vite évoluer dans ce sport contrairement en Amérique, Russie... où ce sport commence peut à peut à devenir des instutions, nous avons donc créer cette plateforme. Le but ? Pouvoir se recenser dans notre base de données et nos équipes analyserons tous vos matchs afin de peut-être vous faire signer un contrat dans notre fédération.
            </p>
        </div>
        <br>
        <div>
            <h2 class="display-5">Devenir un combattant</h2>

            <p class="lead">
                Rien de plus simple, recensé vous soit sur notre application (Ionic), soit sur notre Site internet (Angular) ici présent, dans l'onglet nouveau combattant. Ajouter ensuite votre photo et toutes les informations qui vous sont demandées et vous voilà recensé. Si vous pensez avoir fait une erreur lors de la création de votre profil, vous pouvez vous rendre dans votre profil et le modifier facilement en 2 cliques. Si vous ne souhaitez plus combattre, encore une fois un bouton est dédier à cette information, cliquer sur la poubelle présente sur votre profil et vous voilà désinscrit !
            </p> 
            
        </div>
    </div>
</div>
