<div class="text-center">
    <h1 class="display-3">Bienvenue dans le site officiel des combattants de l'UFC</h1>
    <iframe width="956" height="538" src="https://www.youtube.com/embed/R70Yww3WJWE?autoplay=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>

<div class="jumbotron jumbotron-fluid mt-3">
    <div class="container">
        <br>
        <div>
            <h2 class="display-5">Qui sommes nous ?</h2>
            <p class="lead">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla rutrum ipsum a ex mattis lacinia nec vel leo. Morbi vitae dolor malesuada, fermentum turpis vitae, varius neque. Maecenas fringilla diam mauris, quis bibendum ipsum lobortis id. Sed ligula nulla, sodales eget eros in, lacinia sagittis velit. Duis vitae urna orci. Aenean non justo velit. Nam tincidunt tellus sem, quis molestie nibh imperdiet ullamcorper. Phasellus accumsan convallis leo, vitae pharetra mauris accumsan id. Donec iaculis diam neque, sit amet consectetur metus semper et. Nullam mattis diam massa, id vulputate mi cursus vel. Sed est sapien, aliquam quis urna sit amet, rutrum vehicula nibh. Praesent convallis tempor sapien, vitae faucibus orci malesuada id. Vestibulum rhoncus varius erat, sed commodo libero dictum nec. Vivamus id enim lacinia, elementum lorem sit amet, lacinia sapien. Aenean pretium leo leo, eget euismod odio commodo a. Nullam volutpat diam eget leo lacinia congue.
            </p>
        </div>
        <br>
        <div>
            <h2 class="display-5">Notre projet</h2>
            <p class="lead">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla rutrum ipsum a ex mattis lacinia nec vel leo. Morbi vitae dolor malesuada, fermentum turpis vitae, varius neque. Maecenas fringilla diam mauris, quis bibendum ipsum lobortis id. Sed ligula nulla, sodales eget eros in, lacinia sagittis velit. Duis vitae urna orci. Aenean non justo velit. Nam tincidunt tellus sem, quis molestie nibh imperdiet ullamcorper. Phasellus accumsan convallis leo, vitae pharetra mauris accumsan id. Donec iaculis diam neque, sit amet consectetur metus semper et. Nullam mattis diam massa, id vulputate mi cursus vel. Sed est sapien, aliquam quis urna sit amet, rutrum vehicula nibh. Praesent convallis tempor sapien, vitae faucibus orci malesuada id. Vestibulum rhoncus varius erat, sed commodo libero dictum nec. Vivamus id enim lacinia, elementum lorem sit amet, lacinia sapien. Aenean pretium leo leo, eget euismod odio commodo a. Nullam volutpat diam eget leo lacinia congue.
            </p>
        </div>
        <br>
        <div>
            <h2 class="display-5">Devenir un combattant</h2>

            <p class="lead">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla rutrum ipsum a ex mattis lacinia nec vel leo. Morbi vitae dolor malesuada, fermentum turpis vitae, varius neque. Maecenas fringilla diam mauris, quis bibendum ipsum lobortis id. Sed ligula nulla, sodales eget eros in, lacinia sagittis velit. Duis vitae urna orci. Aenean non justo velit. Nam tincidunt tellus sem, quis molestie nibh imperdiet ullamcorper. Phasellus accumsan convallis leo, vitae pharetra mauris accumsan id. Donec iaculis diam neque, sit amet consectetur metus semper et. Nullam mattis diam massa, id vulputate mi cursus vel. Sed est sapien, aliquam quis urna sit amet, rutrum vehicula nibh. Praesent convallis tempor sapien, vitae faucibus orci malesuada id. Vestibulum rhoncus varius erat, sed commodo libero dictum nec. Vivamus id enim lacinia, elementum lorem sit amet, lacinia sapien. Aenean pretium leo leo, eget euismod odio commodo a. Nullam volutpat diam eget leo lacinia congue.
            </p>
            
        </div>
    </div>
</div>
